{% extends 'prompt/base.html' %}

{% block content %}
    <div class="prompt">
        <h1>{{ prompt.index }}</h1>
        <p id="prompt-content">{{ prompt.prompt|linebreaksbr|safe }}</p>
    </div>
    <div>
        <h3><a href="#" id="blank-maker">빈칸문제 만들기</a></h3>
    </div>
    <div id="response-question"></div>
    <!-- Add a 'hidden' class to the 'response-answer' div -->
    <div id="response-answer" class="hidden"></div>

    <style>
        /* Add a CSS rule to hide elements with the 'hidden' class */
        .hidden {
            display: none;
        }
    </style>

    <script>
        document.getElementById('blank-maker').addEventListener('click', function(e) {
            e.preventDefault();

            var promptContent = document.getElementById('prompt-content').innerText;

            fetch('/api/blank', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ prompt: promptContent }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                var json_return = JSON.parse(data);
                
                document.getElementById('response-question').innerText = json_return.question_and_answer_with_blank;
                document.getElementById('response-answer').innerText = json_return.word_in_blank;
                //document.getElementById('wrong-answer').innerText = json_return.wrong_word_in_blank;
                console.log(json_return);

                // Add a click event listener to the 'response-question' div
                document.getElementById('response-question').addEventListener('click', function() {
                    // Remove the 'hidden' class from the 'response-answer' div
                    document.getElementById('response-answer').classList.remove('hidden');
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}